<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notezone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Profile"
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notezone.MainActivity" />
        </activity>
        <activity
            android:name=".PasswordManager"
            android:label="Passwords">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notezone.MainActivity" />
        </activity>
        <activity android:name=".ViewNote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notezone.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".login_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splash_screen"
            android:theme="@style/splash_screen_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry_note"
            android:label="Add New Note">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.notezone.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>